
= link_to "Park!", "#", :class => 'btn btn-large btn-danger'

%br
%br
= link_to "View History", "#", :class => 'btn btn-small btn-primary'

%br
%br
= link_to "Payment Options", "#", :class => 'btn btn-small btn-success'

%br
%br
= link_to "Cars", "#", :class => 'btn btn-small btn-warning'

= image_tag "mySpot-logo-final-v1.png"