!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "MySpot"

    = render 'shared/stylesheets'

  %body
    
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "MySpot", root_path, :class => 'brand'
          .container.nav-collapse
            %ul.nav
              - if user_signed_in?
                %li= link_to "Sign out", destroy_user_session_path, :method => :delete

              - else
                %li= link_to "Register", new_user_registration_path
                %li= link_to "Sign in", new_user_session_path
                %li= link_to "Park", new_transaction_path
                %li= link_to "View transactions", transactions_path
                %li= link_to "Vehicles", vehicles_path  

    - flash.each do |key, value|
      .flash{ :id => "#{key}" }
        = value


    .container-fluid
      .row
        .span12 
          = yield
   
    = javascript_include_tag 'application'

