!!! 5
%html
  %head
    %title
      
      - if content_for?(:title)
        = yield(:title)

    = render 'shared/stylesheets'

  %body
    - flash.each do |key, value|
      .flash{ :id => '#{key}' }
        = value

    = yield

    %footer
   
    = javascript_include_tag 'application'