!!! 5
%html
  %head
    %title
      
      - if content_for?(:title)
        = yield(:title)

    = render 'shared/stylesheets'

  %body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
        %a.btn.btn-navbar{:data => { :toggle=> "collapse", :target=> ".nav-collapse"}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "MySpot", root_path, :class => 'brand'
        .nav-collapse
          %ul.nav
            %li= link_to "About", "#"

    .container
      .row
        .span12 
          = yield


   
    = javascript_include_tag 'application'